{% extends "championship/ranking/base_ranking.html" %}

{% block info_text %}
    <div class="alert alert-success" role="alert">
        Want to find out if you're also qualified for the SUL Trial? Go to the <a href="https://forms.gle/FHRCmbX8Uz6E5s1b8">SUL Trial 2024 Leaderboard</a>
    </div>
    <p>
        Every year, participating Magic: The Gathering tournaments in Switzerland award SUL Points to players.
        At the end of the season (31.10.2024), the top 40 players with the most SUL Points are qualified for the
        two-day SUL Invitational tournament. The best players will also receive byes, allowing them free wins in
        the initial rounds of the SUL Invitational.
    </p>
    <dl>
        <dt><i class="icon-star"></i></dt>
        <dd>Leaderboard qualification at the end of the season</dd>
        <dt><i class="icon-trophy"></i></dt>
        <dd>Direct qualification for single tournament performance</dd>
        <dt><i class="icon-shield"></i></dt>
        <dd>Bye for the SUL Invitational tournament</dd>
    </dl>
{% endblock %}
