{% extends "championship/ranking/base_ranking.html" %}

{% block info_text %}
    <p>
        Every year, participating Magic: The Gathering tournaments in Switzerland award SUL Points to players.
        At the end of the season (31.10.2024), the best 40 players will be qualified for the
        two-day SUL Invitational tournament. The top players will also receive a bye (a free win) for the SUL Invitational.
    </p>
    <dl>
        <dt><i class="icon-star"></i></dt>
        <dd>Leaderboard qualification at the end of the season</dd>
        <dt><i class="icon-trophy"></i></dt>
        <dd>Direct qualification from top finish</dd>
        <dt><i class="icon-shield"></i></dt>
        <dd>Bye for the SUL Invitational tournament</dd>
    </dl>
{% endblock %}
