{% extends "championship/base.html" %}

{% block title %}
    Guide for Players
{% endblock %}

{% block content %}
    <br>
    <h1>Swiss Unity League {{ current_season.name }}: Guide for Players</h1>
    {% include 'championship/components/season_dropdown.html' %}
    <br>
    <p>The Swiss Unity League (SUL) is a collaborative league
        between various Magic tournament organizers in and around Switzerland
        with an end-of-year 2-day invitational tournament with 3.5k+ Prizes.</p>
    <p>Any organizer can register their tournament for the league to make it
        award SUL Points. Players need to collect these SUL Points in
        order to qualify for the invitational tournament.</p>

    <h2>SUL Invitational November 2024</h2>
    <h3>Prize Pool</h3>
    <ul>
        <li>Will be defined after the Invitational 2023</li>
    </ul>
    <h3>How to Qualify</h3>
    <p>The 2024 season of the SUL will run from the 1st of November 2023 to the 30th of
        October 2024. During that time, all participating tournaments will award SUL Points.</p>
    <p>In total, <strong>32* players will qualify</strong> for the SUL Invitational. Players can qualify in the following ways:</p>
    <ul>
        <li>The <strong>winner** of each SUL Premier event with 40 or more participants</strong> receives a direct invite for the Invitational.</li>
        <li>Other options to earn direct invites will be announced at a later time.</li>
        <li>At the end of the season, the <strong>remaining invites will be awarded to the top-performing players</strong> on the leaderboard.</li>
    </ul>
    <i><p>*The exact number of qualified players will be announced no later than 31st of June 2024.<br>
        **If a player already has a direct invite from a previous tournament it will be passed on to the next player in the standings of the tournament.</p>
        <p>Example: Let's say there are 9 SUL Premier events with 40 or more players during the 2024 season, then the 9 winners of these events will already be qualified irrespective of how many SUL Points they earn. The remaining invites will be awarded to the 23 players with the most SUL Points and that don't have a direct invite.</p></i>
    <h3>Tournament Structure</h3>
    <ul>
        <li>Formats: Modern, Legacy, Limited</li>
        <li>More info follows after the Invitational 2023</li>
    </ul>
    <h2>How to Participate</h2>
    <p>Tell your local tournament organizer (TO) about our league and show them the <a href="{% url 'info_organizer' %}">Guide for Organizers</a> page! Your TO will then register their local events for the league so you can start collecting SUL Points at those events.</p>
    <h2>SUL Points</h2>
    <p>Players can earn SUL Points at all tournaments
        participating in the league. Points are awarded in the following three
        ways:</p>
    <ul>
        <li><strong>Match Points:</strong> A player receives SUL Points <strong>equal
            to the match points</strong> they earned during the Swiss rounds of
            the tournament. (E.g., a record of 3-1-1 in Swiss rounds awards 10
            SUL Points).</li>
        <li><strong>Participation:</strong> A player receives 3 SUL Points just for
            participating in the event.</li>
        <li><strong>Playoffs:</strong> If the event has playoffs (top 4/8), then the best-performing players receive extra SUL Points.</li>
    </ul>
    <h3>Tournament Types</h3>
    <p>There are 3 types of tournaments (SUL Regular, Regional, and Premier).
        Your local tournament organizer will assign one of these 3 types to each
        tournament they organize. Depending on the type of tournament, more or less
        SUL Points will be awarded to the participants.</p>
    <h4>SUL Regular</h4>
    <p>All normal events (weekly, FNM, Prerelease) at your local store or
        association are SUL Regular events.</p>
    <h4>SUL Regional</h4>
    <p>SUL Regional events are medium-sized events for which people travel
        all around your canton to attend them.<br>For each format your local
        tournament organizers can organize one of these events per month.
        Additionally for weekly leagues your organizer can turn one of these events
        per month into SUL Regional.</p>
    <h4>SUL Premier</h4>
    <p>SUL Premier events are meant to be huge tournaments for which people
        travel all around Switzerland. To make those events feel special and
        exciting, your local tournament organizer can only host 2-3 of these
        events per year. Premier events require at least 24 participants,
        otherwise they will be downgraded to SUL Regional.</p>
    <h3>SUL Multiplier</h3>
    <p>Each of the 3 tournament types has a different multiplier that
        increases the number of SUL Points the players earn. SUL
        Regular events have a multiplier of 1x, SUL Regional 4x, and SUL Premier
        6x. The SUL Points earned for match points and participation (but not for
        playoffs) are multiplied by the given multiplier for the
        tournament.</p>

    <div class="row py-3">
        <div class="col-md-6 align-items-center mx-auto table-responsive">
            <table class="table table-striped border border-2">
                <thead>
                    <tr class="header">
                        <th>Tournament Type</th>
                        <th>Multiplier</th>
                        <th>Events per organizer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Regular</td>
                        <td>1x</td>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <td>Regional</td>
                        <td>4x</td>
                        <td>For each format 1 per month (+1 for each league)</td>
                    </tr>
                    <tr>
                        <td>Premier</td>
                        <td>6x</td>
                        <td>2-3x per year</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p><i>Over the course of the season, a player can earn a maximum of 600 SUL Points
        with all SUL Regular events combined; further points will be ignored.
        With SUL Regional and Premier events, a player can earn an unlimited amount of points.</i></p>
    <h3>SUL Points for Playoffs</h3>
    <p>Events with playoffs award additional SUL Points according to the schema below.
        For SUL Premier events, running a top 8 is mandatory.
        For SUL Regional events, the tournament organizer can decide if they wish to run their
        event with playoffs or not (top 4 or top 8 depends on the number of players).</p>
    <div class="row py-3">
        <div class="col-md-6 align-items-center mx-auto table-responsive">
            <table class="table table-striped border border-2">
                <thead>
                    <tr>
                        <th rowspan="2">Place</th>
                        <th colspan="2">SUL Points</th>
                    </tr>
                    <tr>
                        <th>Regional</th>
                        <th>Premier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1st</td>
                        <td>100</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>2nd</td>
                        <td>60</td>
                        <td>240</td>
                    </tr>
                    <tr>
                        <td>3rd/4th</td>
                        <td>40</td>
                        <td>160</td>
                    </tr>
                    <tr>
                        <td>5th-8th*</td>
                        <td>30</td>
                        <td>120</td>
                    </tr>
                    <tr>
                        <td>70% match point rate**</td>
                        <td>20</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td>65% match point rate**</td>
                        <td>10</td>
                        <td>30</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <i><p>*The SUL Points for 5th-8th won't be awarded if the event just has a top 4.
        <br>**The match point rate is calculated based on the number of match points the player earned during the Swiss rounds of the event divided by the maximum possible match points (3x the number of Swiss rounds). SUL Points for match point rate are awarded to all players that reach at least the given percentage and don't make it to the playoffs.</p>
    </i>
    <p><i>Example: Chandra plays a SUL Premier event (multiplier 6x) at her local gaming
        store with 51 participants. During the 5 Swiss rounds, she
        manages to get 4 wins, 1 loss, and 1 draw (13 match points).
        She places 9th in the overall ranking. Therefore, she receives 78 points
        (6x13) for the match points, 18 points (6x3) just for participating.
        Additionally, she receives 60 points for reaching a greater match point rate than 70% (13/18 = 72%).
        With this event, she earns a grand total of 156 SUL Points.
    </i></p>

    <p>Here are some examples of which records are needed to reach the desired match point rate:</p>
    <div class="row py-3">
        <div class="col-md-6 align-items-center mx-auto table-responsive">
            <table class="table table-striped border border-2">
                <thead>
                    <tr class="header">
                        <th>Rounds</th>
                        <th>Record for 65% match point rate</th>
                        <th>Record for 70% match point rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>6</td>
                        <td>4-2</td>
                        <td>4-1-1</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>4-1-2</td>
                        <td>5-2</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>5-2-1</td>
                        <td>6-2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h2>Byes</h2>
    <p>The best-performing players in the league are awarded byes (free wins
        in the first rounds) for the invitational tournament at the end of the
        year.</p>
    <ul>
        <li>To be defined later</li>
    </ul>
    <h2>How do we finance this?</h2>
    <p>In addition to sponsorships, tournament organizers will pay a small
        fee for each participant in the Regional and Premier events they
        organize. For detailed information, see <a href="{% url 'info_organizer' %}">
            Guide for Organizers</a>!</p>
{% endblock %}

