{% extends "championship/base.html" %}

{% block content %}
    <div class="container">
        <h2>Your Addresses</h2>
        <p>
            <a class="btn btn-secondary-light" href="{{ organizer.get_absolute_url }}">Back to My Events</a>
        </p>
        <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Location Name</th>
                        <th>Street Address</th>
                        <th>City</th>
                        <th>Postal Code</th>
                        <th>Region</th>
                        <th>Country</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for address in view.get_queryset %}
                        <tr>
                            <td>{{ address.location_name }}</td>
                            <td>{{ address.street_address }}</td>
                            <td>{{ address.city }}</td>
                            <td>{{ address.postal_code }}</td>
                            <td>{{ address.get_region_display }}</td>
                            <td>{{ address.get_country_display }}</td>
                            <td>
                                <a class="btn btn-secondary" href="{% url 'address_edit' address.id %}">Edit</a>
                                {% if organizer.default_address_id == address.id %}
                                    <span class="text-muted">(Main address)</span>
                                {% else %}
                                    {% include 'championship/delete_confirmation.html' with object=address %}
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">No addresses found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-secondary" href="{% url 'address_create' %}">Add New Address</a>
    </div>
{% endblock %}
