{% extends "championship/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Copy event</h1>
    You are currently creating a copy of your event "{{ original_event }}".
    The default date is one week later, but feel free to replace it.</p>
    <form action="{% url 'event_copy' original_event.id %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" value="Submit" class="btn btn-secondary">Create Event</button>
    </form>
{% endblock %}
