{% extends "championship/base.html" %}
{% load humanize %}
{% load static %}
{% load custom_tags %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block content %}
    <h1>{{ event.name }}</h1>
    {% if event.image %}
        <img src="{{ event.image.url }}" alt="Event image" class="img-fluid img-thumbnail mb-2" style="max-height: 800px">
    {% endif %}
    <dl class="row">
        <dt class="col-sm-3">Organizer</dt>
        <dd class="col-sm-9"> <a href="{{ event.organizer.get_absolute_url }}">{{ event.organizer.name }} </a></dd>
        {% if event.start_time %}
            <dt class="col-sm-3">Date & Time</dt>
            <dd class="col-sm-9">{{ event.date }}, {{ event.get_time_range_display }}</dd>
        {% else %}
            <dt class="col-sm-3">Date</dt>
            <dd class="col-sm-9">{{ event.date }}</dd>
        {% endif %}
        {% if event.address %}
            <dt class="col-sm-3">Location</dt>
            <dd class="col-sm-9">{{ event.address }} (<a href="{{ event.address.get_google_maps_url }}" target="_blank">View on Google Maps</a>)</dd>
        {% endif %}
        <dt class="col-sm-3">Category</dt>
        <dd class="col-sm-9">
            {% if event.category != "OTHER" %}
                <img src="{% static event.get_category_icon_url %}" class="sul-type-icon me-2"
                     title="{{ event.get_category_display }}" alt="Icon {{ event.get_category_display }}">
            {% endif %}
            <span>{{ event.get_category_display }}</span>
        </dd>
        <dt class="col-sm-3">Format</dt>
        <dd class="col-sm-9">{{ event.get_format_display }}</dd>
        {% if event.recurring_event %}
            <dt class="col-sm-3">Event Series</dt>
            <dd class="col-sm-9">
                <a href="{{ event.organizer.get_absolute_url }}">
                    {{ event.recurring_event.name }}
                </a>
            </dd>
        {% endif %}
        {% if event.url %}
            <dt class="col-sm-3">Website (tickets, pairings etc.)</dt>
            <dd class="col-sm-9">
                <a href="{{ event.url }}">{{ event.url }}</a>
            </dd>
        {% endif %}
        {% if event.decklists_url %}
            <dt class="col-sm-3">Decklists</dt>
            <dd class="col-sm-9">
                <a href="{{ event.decklists_url }}">{{ event.decklists_url }}</a>
            </dd>
        {% endif %}


        {% if event.organizer.user == user %}
            <dt class="col-sm-3">TO actions (only shown to you)</dt>
            <dd class="col-sm-9">

                <div class="btn-group-vertical">
                    {% if event.can_be_edited %}
                        <a href="{% url 'event_update' event.id %}" class="btn btn-secondary">Edit Event</a>
                        {% if event.recurring_event %}
                            <a href="{% url 'event_update_all' event.id %}" class="btn btn-secondary">Edit All Events of Series</a>
                        {% endif %}
                    {% endif %}
                    <a href="{% url 'event_copy' event.id %}" class="btn btn-secondary-light">Copy Event</a>
                    {% if event.can_be_deleted %}
                        {% include 'championship/delete_confirmation.html' with object=event long_name=True %}
                    {% endif %}
                    {% if event.recurring_event %}
                        <a href="{% url 'recurring_event_update' event.recurring_event_id %}" class="btn btn-secondary">Update Schedule</a>
                    {% else %}
                        <a href="{% url 'recurring_event_create' event.id %}" class="btn btn-secondary">Schedule as Event Series</a>
                    {% endif %}
                    {% if event.can_be_edited and results %}
                        <a href="{% url 'results_top8_add' event.id %}" class="btn btn-secondary">Add/Edit Playoffs Results</a>
                        <a href="{% url 'event_clear_results' event.id %}" class="btn btn-danger">Delete results</a>
                    {% endif %}
                </div>
            </dd>
        {% endif %}

        {% if user.is_staff %}
            <dt class="col-sm-3">Admin (shown only to staff users)</dt>
            <dd class="col-sm-9">
                <a class="btn btn-warning" href="{% url 'admin:championship_event_change' event.id %}">Edit in admin</a>
            </dd>
        {% endif %}
    </dl>


    {% if event.description %}
        <h3>Description</h3>
        <div class="event_description border rounded">
            {{ event.description }}
        </div>
    {% endif %}
    <br>
    {% if results %}
        <h3 id="results">Results</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Name</th>
                        <th scope="col">Match Points</th>
                        <th scope="col">Record</th>
                        <th scope="col">SUL Points</th>
                        {% if has_decklists %} <th scope="col">Decklists</th> {% endif %}
                        {% if can_edit_results %} <th scope="col"></th> {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for r, s in results %}
                        <tr>
                            <td>{{ r.get_ranking_display }}</td>
                            <td>
                                {% if r.player.hidden_from_leaderboard %}
                                    {{ r.player.name|initials }}
                                {% else %}
                                    <a href="{{ r.player.get_absolute_url }}">{{ r.player.name }}</a>
                                {% endif %}
                            </td>
                            <td>{{ r.points }}</td>
                            <td class="text-nowrap">{{ r.get_record_display }}</td>
                            <td>{{ s.qps }}</td>
                            {% if has_decklists %}
                                <td>
                                    {% for decklist in r.decklists %}
                                        <a href="{{ decklist.get_absolute_url }}" target="_blank" title="View the {{ decklist.archetype }} decklist of {{ r.player_name }}">{{ decklist.archetype }}</a>{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                            {% endif %}
                            {% if can_edit_results %}
                                <td><a class="btn btn-secondary" href="{% url 'epr_edit' r.id %}">Edit</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p>
            <small>
                {% if notify_missing_results %}
                    The organizer has not yet uploaded results for this event. Please notify the organizer or write an email to <a href="mailto:leoninleague@gmail.com"><u>leoninleague@gmail.com</u></a>.
                {% else %}
                    To ensure correct results, always enter your real name in the tournament software. If you find any errors, contact the organizer of this tournament or email <a href="mailto:leoninleague@gmail.com"><u>leoninleague@gmail.com</u></a>.
                {% endif %}
            </small>
        </p>
        {% if unmatched_decklists %}
            <h4>Unmatched decklists</h4>
            <ul>
                {% for decklist in unmatched_decklists %}
                <li>
                    <a href="{{ decklist.get_absolute_url }}" target="_blank">{{ decklist.archetype }}</a> by {{ decklist.player.name }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
