{% extends "championship/base.html" %}
{% load humanize %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block content %}
    <h1>{{ event.name }}</h1>

    <dl class="row">
        <dt class="col-sm-3">Organizer</dt>
        <dd class="col-sm-9">{{ event.organizer.name }}</dd>
        <dt class="col-sm-3">Date</dt>
        <dd class="col-sm-9">{{ event.date }}</dd>
        {% if event.address %}
            <dt class="col-sm-3">Location</dt>
            <dd class="col-sm-9">{{ event.address }} (<a href="{{ event.address.get_google_maps_url }}" target="_blank">View on Google Maps</a>)</dd>
        {% endif %}
        <dt class="col-sm-3">Category</dt>
        <dd class="col-sm-9">{{ event.get_category_display }}</dd>
        <dt class="col-sm-3">Format</dt>
        <dd class="col-sm-9">{{ event.get_format_display }}</dd>
        {% if event.url %}
            <dt class="col-sm-3">Website (tickets, pairings etc.)</dt>
            <dd class="col-sm-9">
                <a href="{{ event.url }}">{{ event.url }}</a>
            </dd>
        {% endif %}
        {% if event.decklists_url %}
            <dt class="col-sm-3">Decklists</dt>
            <dd class="col-sm-9">
                <a href="{{ event.decklists_url }}">{{ event.decklists_url }}</a>
            </dd>
        {% endif %}


        {% if event.organizer.user == user %}
            <dt class="col-sm-3">TO actions (only shown to you)</dt>
            <dd class="col-sm-9">
                {% if event.can_have_top8 %}
                    <p><a href="{% url 'results_top8_add' event.id %}" class="btn btn-secondary">Add/Edit Playoffs Results</a></p>
                {% endif %}
                <p><a href="{% url 'event_update' event.id %}" class="btn btn-secondary">Edit event</a></p>
                <p><a href="{% url 'event_copy' event.id %}" class="btn btn-secondary-light">Copy event</a></p>
                <p><a href="{% url 'event_delete' event.id %}" class="btn btn-danger">Delete event</a></p>
                {% if event.eventplayerresult_set.count > 0 and event.can_change_results %}
                    <p><a href="{% url 'event_clear_results' event.id %}" class="btn btn-danger">Delete results</a></p>
                {% endif %}
            </dd>
        {% endif %}

        {% if user.is_staff %}
            <dt class="col-sm-3">Admin (shown only to staff users)</dt>
            <dd class="col-sm-9">
                <a class="btn btn-warning" href="{% url 'admin:championship_event_change' event.id %}">Edit in admin</a>
            </dd>
        {% endif %}
    </dl>


    {% if event.description %}
        <h3>Description</h3>
        <div class="event_description border rounded">
            {{ event.description|linebreaksbr }}
        </div>
    {% endif %}
    <br>
    {% if results %}
        <h3 id="results">Results</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Name</th>
                        <th scope="col">Points</th>
                        <th scope="col">QPs awarded</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in results %}
                        <tr>
                            <td>{{ r.get_ranking_display }}</td>
                            <td><a href="{{ r.player.get_absolute_url }}">{{ r.player_name }}</a></td>
                            <td>{{ r.points }}</td>
                            <td>{{ r.qps }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p>
            <small>
                To ensure correct results, always enter your real name in the tournament software. If you find any errors, contact the organizer of this tournament or email <a href="mailto:leoninleague@gmail.com"><u>leoninleague@gmail.com</u></a>.
            </small>
        </p>
    {% else %}
        {% if notify_missing_results %}
            <p>
                <small>
                    The organizer has not yet uploaded results for this event. Please notify the organizer or write an email to <a href="mailto:leoninleague@gmail.com"><u>leoninleague@gmail.com</u></a>.
                </small>
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
