{% extends "championship/base.html" %}
{% load static %}

{% block title %}
    Future events
{% endblock %}

{% block content %}
    <h1>Future League events</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <label><input class="form-check-input" type="checkbox" id="modern"/> Modern</label>
      <label><input class="form-check-input" type="checkbox" id="modern"/> Standard</label>
      <label><input class="form-check-input" type="checkbox" id="modern"/> Legacy</label>
      <label><input class="form-check-input" type="checkbox" id="modern"/> Standard</label>
  </div>

</div>
    <div x-data="events()" x-init="loadEvents()">
        <form>
            <div class="form-row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" x-on:click="toggleAllFormats()" x-bind:checked="allFormatsStatus()"/>
                    <label class="form-check-label">All formats</label>
                </div>
                <template x-for="format in Object.keys(showFormats)">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" x-bind:id="format" x-model="showFormats[format]">
                        <label class="form-check-label" x-bind:for="format" x-text="format"></label>
                    </div>
                </template>
            </div>

            <div class="form-row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" x-on:click="toggleAllCategories()" checked/>
                    <label class="form-check-label">All categories</label>
                </div>
                <template x-for="cat in Object.keys(showCategories)">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" x-bind:id="cat" x-model="showCategories[cat]">
                        <label class="form-check-label" x-bind:for="cat" x-text="cat"></label>
                    </div>
                </template>
            </div>

        </form>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Event</th>
                        <th scope="col">Category</th>
                        <th scope="col">Format</th>
                        <th scope="col">Organizer</th>
                    </tr>
                </thead>
                <tbody>
                    <template x-for="event in events">
                        <tr x-show="showCategories[event.category] && showFormats[event.format]">
                            <td x-text="event.date"></td>
                            <td>
                                <a x-text="event.name" :href="event.details_url"></a>
                            </td>
                            <td x-text="event.category"></td>
                            <td x-text="event.format"></td>
                            <td x-text="event.organizer"></td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'future_events.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" ></script>
{% endblock %}
