{% extends "championship/base.html" %}
{% load static %}

{% block title %}
    Future events
{% endblock %}

{% block content %}
    <h1>League events</h1>
    <p>
        <a href="{% url 'organizer_view' %}" class="btn btn-secondary">View all organizers</a>
    </p>
    <div x-data="events()" x-init="loadEvents()">
        {% for cnt in "12"|make_list %}
            <div class="{% cycle 'btn-group d-none d-md-flex' 'btn-group-vertical d-block d-md-none' %}" role="group" aria-label="Filtering the events">

                <div class="btn-group">
                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-bs-toggle="dropdown" x-text="currentEventType"></button>
                    <div class="dropdown-menu">
                        <template x-for="type in Object.keys(eventTypes)">
                            <div class="dropdown-item" x-text="type" x-on:click="loadEvents(type); currentEventType = type"></div>
                        </template>
                    </div>
                </div>

                <template x-for="(filter, index) in filterList" :key="index">
                    <div class="btn-group">
                        <button x-text="filter.title" class="btn btn-secondary dropdown-toggle" type="button"  data-bs-toggle="dropdown" data-bs-auto-close="outside"></button>
                        <div class="dropdown-menu">
                            <div class="dropdown-item" x-on:click="toggleAll(index)">
                                <div class="form-check">
                                    <label x-text="filter.titleAll" class="form-check-label"></label>
                                </div>
                            </div>
                            <template x-for="selectedItem in Object.keys(filter.selected)">
                                <div class="dropdown-item" x-on:click="filter.selected[selectedItem] = !filter.selected[selectedItem]">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" x-bind:id="selectedItem" x-model="filter.selected[selectedItem]">
                                        <label class="form-check-label" x-bind:for="selectedItem" x-text="selectedItem.trim() === '' ? 'No '+filter.title : selectedItem"></label>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>

            </div>
        {% endfor %}

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Event</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <template x-for="event in events">
                        <tr x-show="shouldShow(event)">
                            <td>
                                <div x-text="event.date"></div>
                            </td>
                            <td>
                                <div>
                                    <a class="fw-bold" x-text="event.name" :href="event.details_url"></a>
                                </div>
                                <small>
                                    <a x-text="event.organizer" :href="event.organizer_url"></a><span x-text="event.address"></span>
                                </small>
                            </td>
                            <td>
                                <div x-text="event.format"></div>
                                <small class="text-nowrap" x-text="event.category"></small>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'future_events.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" ></script>
{% endblock %}
