{% extends "championship/base.html" %}
{% load static %}

{% block content %}
    <div class="row gx-4 gx-lg-5 my-5">
        <div class="col-lg-5 mb-2">
            <div class="text-center mb-4">
                <img class="img-fluid" style="max-height:300px" src="{% static 'sul_logo.png' %}" alt="SUL Logo" />
            </div>
            <p>The Swiss Unity League (SUL) is a collaborative league in 2023 between various Magic tournament organizers in Switzerland with an end of year 2-day invitational tournament with 3.5k+ Prizes.</p>
            <p>Any organizer can register their tournament for the league to make it award Qualification Points (QPs). Players need to collect these QPs in order to qualify for the invitational tournament.</p>
            <a class="btn btn-secondary" href="{% url 'info' %}">More info</a>
        </div>
        <div class="col-lg-7"><img class="img-fluid rounded my-4 mb-lg-0" src="{% static 'tournament.jpg' %}" alt="A Magic: The Gathering tournament" /></div>
    </div>


    <div class="row gx-4 gx-lg-5">
        <div class="col-lg-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Upcoming major events</h2>
                    <dl>
                        {% for event in future_events|slice:":5" %}
                            <dt>{{ event.date }} by {{ event.organizer}}</dt>
                            <dd> <a href="{{ event.get_absolute_url}}">{{ event.name }} </a> </dd>
                        {% endfor %}
                    </dl>
                </div>
                <div class="card-footer"><a class="btn btn-secondary btn-sm" href="{% url 'events' %}">View all upcoming events</a></div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">How to participate?</h2>
                    <p class="card-text">
                        As an organizer you can register all of your events for the league to make them award points to your players.
                        More information and a registration form can be found in this <a href="{% url 'info_organizer' %}"> guide</a>.
                    </p>
                    <p class="card-text">
                        If you're a player, please tell your local tournament organizers about the league and show them the this page.
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary btn-sm" href="{% url 'info_organizer' %}">Guide for Organizers</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Top Players</h2>
                    <ol>
                        {% for player in players|slice:":10" %}
                            {% if forloop.counter <= 5 %}
                                <li>{{ player.name }} ({{ player.score.total_score }} points)</li>
                            {% else %}
                                <div class="d-none d-lg-block">
                                    <li >{{ player.name }} ({{ player.score.total_score }} points)</li>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary btn-sm" href="{% url 'ranking' %}">Full Ranking</a>
                </div>
            </div>
        </div>

        <h2>Our partners</h3>
        <div class="row text-center">
            <div class="col-lg-6 align-items-center mx-auto my-2">
                <div id="carouselPartnersIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="{% if debug %}500{% else %}3000{% endif %}">
                    <div class="carousel-inner" style="height: 300px;">
                        {% for logo in partner_logos %}
                            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                <img class="d-block w-100" src="{% static logo %}" alt="Partner logo ({{ logo }})">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="{% url 'organizer_view' %}" class="btn btn-secondary">View all organizers</a>
            </div>
        </div>
{% endblock %}
