{% extends "championship/base.html" %}
{% load static %}

{% block content %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'tournament.jpg' %}" alt="A Magic: The Gathering tournament" /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Swiss Unity League</h1>
            <p>The Swiss Unity League is Switzerland's Magic: The Gathering tournament circuit, where players from all over the country compete for points. The top players get invited into an end-of-year, two days event where they battle for the Player of the Year title.</p>
            <a class="btn btn-primary" href="{% url 'info' %}">More info</a>
        </div>
    </div>


    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Upcoming events</h2>
                    <ul>
                    {% for event in future_events|slice:":5" %}
                        <li>{{ event.date }}: {{ event.name }} by {{ event.organizer}} </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'events' %}">View all upcoming events</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Info for organizers</h2>
                    <p class="card-text">Want to be a part of the adventure and start awarding points to your players?</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'info_organizer' %}">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Top players</h2>
                    <p class="card-text">
                    <ol>{% for player in players|slice:":5" %}
                            <li>{{ player.name }} ({{ player.score }}points)</li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'ranking' %}">Full ranking</a></div>
            </div>
        </div>
    </div>

    <h2>Our partners</h3>
    <div class="row text-center">
        <div class="col-md-6 align-items-center mx-auto">
            <div id="carouselPartnersIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                    {% for logo in partner_logos %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                            <img class="d-block w-100" src="{% static logo %}" alt="Partner logo ({{ logo }})">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
