{% extends "championship/base.html" %}

{% block title %}
    {{ eventorganizer.name }}
{% endblock %}

{% block content %}
    <h1>{{ eventorganizer.name }}</h1>
    <div class="row">
        {% if eventorganizer.image %}
            <div class="col-lg-4">
                <img src="{{ eventorganizer.image.url }}" class="img-fluid" alt="{{ eventorganizer.name }}" style="max-height: 200px">
            </div>
            <div class="col-lg-8">
        {% else %}
            <div class="col">
        {% endif %}
        <dl class="row">
            {% if eventorganizer.user == user %}
                <dt class="col-sm-4">TO actions (only shown to you)</dt>
                <dd class="col-sm-8">
                    <p><a href="{% url 'organizer_update' %}" class="btn btn-secondary">Edit Organizer</a></p>
                    <p><a href="{% url 'address_list' %}" class="btn btn-secondary">Edit Addresses</a></p>
                </dd>
            {% endif %}
            {% if user.is_staff %}
                <dt class="col-sm-4">Admin (shown only to staff users)</dt>
                <dd class="col-sm-8">
                    <a class="btn btn-warning" href="{% url 'admin:championship_eventorganizer_change' eventorganizer.id %}">Edit in admin</a>
                </dd>
            {% endif %}
            {% if eventorganizer.default_address %}
                <dt class="col-sm-4">Region</dt>
                <dd class="col-sm-8">{{ eventorganizer.default_address.get_region_display }}</dd>
                <dt class="col-sm-4">Address</dt>
                <dd class="col-sm-8">{{ eventorganizer.default_address }} (<a href="{{ eventorganizer.default_address.get_google_maps_url }}" target="_blank">View on Google Maps</a>)</dd>
            {% endif %}
        </dl>
    </div>
    </div>


    {% if eventorganizer.description %}
        <h3>About</h3>
        <div class="event_description border rounded">
            {{eventorganizer.description|linebreaksbr }}
        </div>
    {% endif %}

    {% for event_type in all_events %}
        <br>
        <h2>{{ event_type.title }}</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        {% if event_type.has_num_players %}
                            <th scope="col">Participants</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for event in event_type.list %}
                        <tr>
                            <td><a href="{% url 'event_details' event.id %}">{{event.name }}</a></td>
                            <td>{{ event.date }}</td>
                            <td>{{ event.get_category_display }}</td>
                            {% if event_type.has_num_players %}
                                <td>
                                    {% if event.num_players != 0 %}
                                        {{ event.num_players }}
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}

{% endblock %}
