{% extends "championship/base.html" %}
{% load bleach_tags %}
{% load custom_tags %}


{% block title %}
    {{ eventorganizer.name }}
{% endblock %}

{% block content %}
    <h1>{{ eventorganizer.name }}</h1>
    <div class="row">
        {% if eventorganizer.image %}
            <div class="col-lg-4">
                <img src="{{ eventorganizer.image.url }}" class="img-fluid" alt="{{ eventorganizer.name }}" style="max-height: 200px">
            </div>
            <div class="col-lg-8">
        {% else %}
            <div class="col">
        {% endif %}
        <dl class="row">
            {% if eventorganizer.user == user %}
                <dt class="col-sm-4">TO actions (only shown to you)</dt>
                <dd class="col-sm-8">
                    <p><a href="{% url 'organizer_update' %}" class="btn btn-secondary">Edit Organizer</a></p>
                    <p><a href="{% url 'address_list' %}" class="btn btn-secondary">Edit Addresses</a></p>
                </dd>
            {% endif %}
            {% if user.is_staff %}
                <dt class="col-sm-4">Admin (shown only to staff users)</dt>
                <dd class="col-sm-8">
                    <a class="btn btn-warning" href="{% url 'admin:championship_eventorganizer_change' eventorganizer.id %}">Edit in admin</a>
                </dd>
            {% endif %}
            {% if eventorganizer.url %}
                <dt class="col-sm-4">Website</dt>
                <dd class="col-sm-8"><a href="{{ eventorganizer.url }}" target="_blank">{{ eventorganizer.url }}</a></dd>
            {% endif %}
            {% if eventorganizer.default_address %}
                <dt class="col-sm-4">Region</dt>
                <dd class="col-sm-8">{{ eventorganizer.default_address.get_region_display }}</dd>
                <dt class="col-sm-4">Address</dt>
                <dd class="col-sm-8">{{ eventorganizer.default_address }} (<a href="{{ eventorganizer.default_address.get_google_maps_url }}" target="_blank">View on Google Maps</a>)</dd>
            {% endif %}
        </dl>
    </div>
    </div>


    {% if eventorganizer.description %}
        <h3>About</h3>
        <div class="event_description border rounded">
            {{ eventorganizer.description }}
        </div>
    {% endif %}


    <div class="container mt-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="events-tab" data-bs-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="true">Events</a>
            </li>
            {% if players %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="leaderboard-tab" data-bs-toggle="tab" href="#leaderboard" role="tab" aria-controls="leaderboard" aria-selected="false">Leaderboard</a>
                </li>
            {% endif %}
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
                {% if recurring_events %}
                    <br>
                    <h2>Active Event Series</h2>
                    {% if eventorganizer.user == user %}
                        <p>To create a new event series, go to the page of an event and click "Schedule as Event Series".</p>
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Event Series</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    {% if user_is_organizer %}
                                        <th scope="col"></th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for r_event in recurring_events %}
                                    <tr>
                                        <td>{{ r_event.name }}</td>
                                        <td>{{ r_event.start_date }}</td>
                                        <td>{{ r_event.end_date }}</td>
                                        {% if user_is_organizer %}
                                            <td>
                                                <a href="{% url 'recurring_event_update' r_event.id %}" class="btn btn-secondary">Update Schedule</a>
                                                <a href="{% url 'recurring_event_update_all' r_event.id %}" class="btn btn-secondary">Edit all Events</a>
                                                <a href="{% url 'recurring_event_copy' r_event.id %}" class="btn btn-secondary-light">Copy</a>
                                                {% include 'championship/delete_confirmation.html' with object=r_event long_name=True %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {% for event_type in all_events %}
                    <br>
                    <h2>{{ event_type.title }}</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Event</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Format</th>
                                    {% if event_type.has_num_players %}
                                        <th scope="col">Participants</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in event_type.list %}
                                    <tr>
                                        <td><a href="{% url 'event_details' event.id %}">{{event.name }}</a></td>
                                        <td>{{ event.date|weekday_date }}</td>
                                        <td>{{ event.get_category_display }}</td>
                                        <td>{{ event.get_format_display }}</td>
                                        {% if event_type.has_num_players %}
                                            <td>
                                                {% if event.num_players != 0 %}
                                                    {{ event.num_players }}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>

            {% if players %}
                <div class="tab-pane fade" id="leaderboard" role="tabpanel" aria-labelledby="leaderboard-tab">
                    <br>
                    <h2>{{ league.name }}</h2>
                    <p>From <b>{{ league.start_date }}</b> to <b>{{ league.end_date }}</b>
                        all <b>{{ league.get_category_and_lower_display }}</b> events of <b>{{ league.organizer.name }}</b>
                        {% if not league.playoffs %}played <b>without playoffs</b>{% endif %}
                        in <b>{{ league.get_format_display }}</b> count for this leaderboard.</p>
                    <div class="event_description border rounded">
                        {{ league.description|bleach }}
                    </div>
                    <table class="table table-striped" aria-label="Leaderboard of {{ league.name }}">
                        <thead>
                            <tr>
                                <th scope="col">Rank</th>
                                <th scope="col">SUL Points</th>
                                <th scope="col">Player Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for player in players %}
                                <tr>
                                    <td aria-label="Rank">{{ player.score.rank }}</td>
                                    <td aria-label="SUL Points">{{ player.score.total_score }}</td>
                                    <td aria-label="Player Name"><a href="{{ player.get_absolute_url }}" title="View tournament statistics of {{ player.get_name_display }}">{{ player.get_name_display }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var hash = window.location.hash;
            if (hash) {
                var tab = document.querySelector('a[href="' + hash + '"]');
                if (tab) {
                    var tabInstance = new bootstrap.Tab(tab);
                    tabInstance.show();
                }
            } else {
                var defaultTab = document.querySelector('a[data-bs-toggle="tab"]');
                if (defaultTab) {
                    var tabInstance = new bootstrap.Tab(defaultTab);
                    tabInstance.show();
                }
            }

            var tabLinks = document.querySelectorAll('a[data-bs-toggle="tab"]');
            tabLinks.forEach(function (tabLink) {
                tabLink.addEventListener('shown.bs.tab', function (event) {
                    if (event.target.getAttribute('href') !== window.location.hash) {
                        history.pushState(null, null, event.target.getAttribute('href'));
                    }
                });
            });
        });
    </script>
{% endblock %}
