{% extends "championship/base.html" %}

{% load custom_filters %}

{% block title %}Ranking Swiss Unity League{% endblock %}

{% block content %}
    <h1>Ranking by player</h1>
    <p>If you are within the top 48 players, please check your email to confirm whether you are able to participate.
        Please <a href="mailto:leoninleague@gmail.com">contact us</a> if you didn't receive anything.
        <br><i>Why we ask the top 48 players: in case a player can't attend the next player qualifies. Hence players
            close to the top 40 still have a chance to qualify.</i>
    </p>
    <p>Update on 07.10.2023: The number of players qualifying for the SUL Invitational has been increased to 40.
        <br><i>Reason: Due to increased attendance in recent months, and the last-minute addition of three
            SUL Premier events, we've concluded that a cap of 32 qualifying players is too small.</i>
    </p>

    <dl>
        <dt><i class="icon-star"></i></dt>
        <dd>Qualified for the invitational</dd>
        <dt><i class="icon-shield"></i></dt>
        <dd>Bye for the invitational</dd>
    </dl>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">QPs</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ player.score.rank }}
                        {% if player.score.qualified %}
                            <i class="icon-star"></i>
                        {% endif %}
                        {% for i in player.score.byes|range %}
                            <i class="icon-shield"></i>
                        {% endfor %}
                    </td>
                    <td>{{ player.score.total_score }}</td>
                    <td><a href="{{ player.get_absolute_url }}">{{ player.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
