{% extends "championship/base.html" %}

{% block title %}Ranking Swiss Unity League{% endblock %}

{% block content %}
    <h1>Ranking by player</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">QPs</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    {% if forloop.counter == 1 %}
                        <td>{{ forloop.counter }} <i class="icon-star"></i> <i class="icon-shield"></i> <i class="icon-shield"></td>
                    {% elif forloop.counter <= 5 %}
                        <td>{{ forloop.counter }} <i class="icon-star"></i> <i class="icon-shield"></i></td>
                    {% elif forloop.counter <= 32 %}
                        <td>{{ forloop.counter }} <i class="icon-star"></i></td>
                    {% else %}
                        <td>{{ forloop.counter }}</td>
                    {% endif %}
                    <td>{{ player.score }}</td>
                    <td><a href="{% url 'player_details' player.id %}">{{ player.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <dl>
        <dt><i class="icon-star"></i></dt>
        <dd>Qualified for the invitational</dd>
        <dt><i class="icon-shield"></i></dt>
        <dd>Bye for the invitational</dd>
    </dl>
{% endblock %}
