{% extends "championship/base.html" %}
{% load custom_tags %}
{% load countries %}
{% load static %}

{% block extrahead %}
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
    />
{% endblock %}

{% block title %}National Leaderboard {{ current_season.name }} - Best Magic: The Gathering Players | Swiss Unity League{% endblock %}
{% block meta_description %}Discover national leaderboards for Magic: The Gathering. Only the best players qualify for the yearly Championships.{% endblock %}

{% block content %}
    {% get_country country_code as country %}
    <h1>
        {% if IS_GLOBAL_SITE %}
            Leaderboard - {{ country.name }}
            <i class="fi fi-{{ country.code|lower }}"></i>
        {% else %}
            Leaderboard - Swiss Unity League
        {% endif %}
    </h1>
    <div class="row">
        <div class="col-auto">
            {% include 'championship/components/season_dropdown.html' %}
        </div>
        {% if IS_GLOBAL_SITE %}
            <div class="col-auto">
                <div class="position-relative">
                    <input type="text" id="country-input" class="form-control" placeholder="Type a country..." />
                    <div id="autocomplete-list" class="list-group position-absolute w-100"></div>
                </div>
            </div>
        {% endif %}
    </div>
    <p class="pt-2">From {{ current_season.start_date }} to {{ current_season.end_date  }} all events in {{ country.name }} award league points for this leadeboard.</p>
    {% block info_text %}{% endblock %}
    <div x-data="init()">
        <input type="text" id="playerSearch" class="form-control mb-3" placeholder="Search for players..." x-model="search">
        <table class="table table-striped" id="rankingTable" aria-label="Leaderboard Swiss Unity League {{ current_season.name }}">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">League Points</th>
                    <th scope="col">Player Name</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr x-show="shouldShow('{{ player.get_name_display|escapejs }}')">
                        <td aria-label="Rank">
                            <div class="d-inline text-nowrap">
                                {{ player.score.rank }}
                                {% if player.score.qualification_type.name == 'LEADERBOARD' %}
                                    <i class="icon-star" title="{{ player.score.qualification_reason }}"></i>
                                {% elif player.score.qualification_type.name == 'DIRECT' %}
                                    <i class="icon-trophy" title="{{ player.score.qualification_reason }}"></i>
                                {% endif %}
                                {% for i in player.score.byes|range %}
                                    <i class="icon-shield" title="1 Bye for the Invitational tournament"></i>
                                {% endfor %}
                            </div>
                        </td>
                        <td aria-label="League Points">{{ player.score.total_score }}</td>
                        <td aria-label="Player Name">
                            <a href="{{ player.get_absolute_url }}" title="View tournament statistics of {{ player.get_name_display }}">
                                {{ player.get_name_display }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    {% block scripts %}
        {% include 'alpinejs.html' %}
        <script>
            function init() {
                return {
                    search: '',
                    shouldShow(name) {
                        return name.toLowerCase().indexOf(this.search.toLowerCase()) > -1
                    }
                };
            }
        </script>
        {% get_countries as countries %}
        {% if IS_GLOBAL_SITE %}
            <script>
                const countries = [
                    {% for country in countries %}
                        { name: "{{ country.name }}", url: "{% url 'ranking_by_season_country' slug=current_season.slug country_code=country.code %}" },
                    {% endfor %}
                ];

                document.getElementById("country-input").addEventListener("input", function () {
                    const input = this.value.toLowerCase();
                    const list = document.getElementById("autocomplete-list");
                    list.innerHTML = ""; // Clear previous suggestions

                    if (!input) return; // Exit if input is empty

                    const suggestions = countries.filter(country =>
                        country.name.toLowerCase().includes(input)
                    ).slice(0, 5); // Limit to 5 suggestions

                    suggestions.forEach(({ name, url }) => {
                        const suggestionItem = document.createElement("a");
                        suggestionItem.href = url; // Set the link
                        suggestionItem.classList.add("list-group-item", "list-group-item-action");
                        suggestionItem.textContent = name;
                        list.appendChild(suggestionItem);
                    });
                });
            </script>
        {% endif %}
    {% endblock %}

{% endblock %}
