{% extends "championship/base.html" %}

{% load custom_tags %}

{% block title %}Leaderboard Swiss Unity League {{ current_season.name }} - Best Magic: The Gathering Players in Switzerland{% endblock %}
{% block meta_description %}Discover the Swiss Unity League leaderboard in Magic: The Gathering. Only the best players in Switzerland qualify for the end of year Championship.{% endblock %}

{% block content %}
    <h1>Leaderboard - Swiss Unity League {{ current_season.name }}</h1>
    {% include 'championship/components/season_dropdown.html' %}
    <br>
    {% block info_text %}{% endblock %}
    <div x-data="init()">
        <input type="text" id="playerSearch" class="form-control mb-3" placeholder="Search for players..." x-model="search">
        <table class="table table-striped" id="rankingTable" aria-label="Leaderboard Swiss Unity League {{ current_season.name }}">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">SUL Points</th>
                    <th scope="col">Player Name</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr x-show="shouldShow('{{ player.name|escapejs }}')">
                        <td aria-label="Rank">
                            <div class="d-inline text-nowrap">
                                {{ player.score.rank }}
                                {% if player.score.qualification_type.name == 'LEADERBOARD' %}
                                    <i class="icon-star" title="{{ player.qualification_reason }}"></i>
                                {% elif player.score.qualification_type.name == 'LEADERBOARD' %}
                                    <i class="icon-trophy" title="{{ player.qualification_reason }}"></i>
                                {% endif %}
                                {% for i in player.score.byes|range %}
                                    <i class="icon-shield" title="1 Bye for the Invitational tournament"></i>
                                {% endfor %}
                            </div>
                        </td>
                        <td aria-label="SUL Points">{{ player.score.total_score }}</td>
                        <td aria-label="Player Name">
                            <a href="{{ player.get_absolute_url }}" title="View tournament statistics of {{ player.get_name_display }}">
                                {{ player.get_name_display }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    {% block scripts %}
        {% include 'alpinejs.html' %}
        <script>
            function init() {
                return {
                    search: '',
                    shouldShow(name) {
                        return name.toLowerCase().indexOf(this.search.toLowerCase()) > -1
                    }
                };
            }
        </script>
    {% endblock %}

{% endblock %}
