{% extends "championship/base.html" %}
{% load custom_tags %}
{% load countries %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.0.0/css/flag-icons.min.css">
{% endblock %}

{% block title %}National Leaderboard {{ current_season.name }} - Best Magic: The Gathering Players | Swiss Unity League{% endblock %}
{% block meta_description %}Discover national leaderboards for Magic: The Gathering. Only the best players qualify for the yearly Championships.{% endblock %}

{% block content %}
    {% get_country country_code as country %}
    <h1>
        {% if country_code != 'CH' %}
            Leaderboard {{ country.name }} <i class="flag-icon flag-icon{{ country.code }}" aria-label="{{ country_code }} flag"></i>
        {% else %}
            Leaderboard - Swiss Unity League
        {% endif %}
    </h1>
    {% include 'championship/components/season_dropdown.html' %}
    <p class="pt-2">All events from {{ current_season.start_date }} to {{ current_season.end_date  }} award league points for this leadeboard.</p>
    {% block info_text %}{% endblock %}
    <div x-data="init()">
        <input type="text" id="playerSearch" class="form-control mb-3" placeholder="Search for players..." x-model="search">
        <table class="table table-striped" id="rankingTable" aria-label="Leaderboard Swiss Unity League {{ current_season.name }}">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">League Points</th>
                    <th scope="col">Player Name</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr x-show="shouldShow('{{ player.get_name_display|escapejs }}')">
                        <td aria-label="Rank">
                            <div class="d-inline text-nowrap">
                                {{ player.score.rank }}
                                {% if player.score.qualification_type.name == 'LEADERBOARD' %}
                                    <i class="icon-star" title="{{ player.score.qualification_reason }}"></i>
                                {% elif player.score.qualification_type.name == 'DIRECT' %}
                                    <i class="icon-trophy" title="{{ player.score.qualification_reason }}"></i>
                                {% endif %}
                                {% for i in player.score.byes|range %}
                                    <i class="icon-shield" title="1 Bye for the Invitational tournament"></i>
                                {% endfor %}
                            </div>
                        </td>
                        <td aria-label="League Points">{{ player.score.total_score }}</td>
                        <td aria-label="Player Name">
                            <a href="{{ player.get_absolute_url }}" title="View tournament statistics of {{ player.get_name_display }}">
                                {{ player.get_name_display }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    {% block scripts %}
        {% include 'alpinejs.html' %}
        <script>
            function init() {
                return {
                    search: '',
                    shouldShow(name) {
                        return name.toLowerCase().indexOf(this.search.toLowerCase()) > -1
                    }
                };
            }
        </script>
    {% endblock %}

{% endblock %}
