{% extends "championship/base.html" %}

{% block title %}
    How to participate in the {{ SITE.name }}
{% endblock %}

{% block meta_description %}
    Everything you need to know to participate in Europe's premier Magic: the Gathering tournament series, {{ SITE.name }}.
{% endblock %}

{% block content %}
    <h1>{{ SITE.name }}</h1>
    {% include 'championship/components/season_dropdown.html' %}
    <br>

    <h2>Abstract</h2>
    <div class="row">
        <div class="col-md-6">
            {% include 'info/abstract.html' %}
        </div>
        <div class="col-md-6">
            <div class="alert alert-success" role="alert">
                <p>Interested in participating?</p>
                <a class="btn btn-success" href="{% url 'info_player' %}">Participate as player</a>
                <a class="btn btn-success" href="{% url 'info_organizer' %}">Organize events</a>
            </div>
        </div>
    </div>
    {% block info %}
    {% endblock %}
{% endblock %}
