{% extends "championship/base.html" %}

{% block title %}
    How to participate in the {{ SITE.name }}
{% endblock %}

{% block meta_description %}
    Everything you need to know to participate in Europe's premier Magic: the Gathering tournament series, {{ SITE.name }}.
{% endblock %}

{% block content %}
    <h1>{{ SITE.name }}</h1>
    {% include 'championship/components/season_dropdown.html' %}
    <br>
    <div class="alert alert-success" role="alert">
        <p>Interested in participating?</p>
        <a class="btn btn-success" href="{% url 'info' %}">Participate as Player</a>
        <a class="btn btn-success" href="{% url 'info_organizer' %}">Organizer Sign up</a>
    </div>
    <h2>Abstract</h2>
    {% include 'info/abstract.html' %}
    {% block info %}
    {% endblock %}
{% endblock %}
