{% extends "championship/base.html" %}

{% block title %}
    How to organize events | {{ SITE.name }}
{% endblock %}

{% block meta_description %}
    How to register events for the league and upload results
{% endblock %}

{% block content %}
    <h1>How to organize events - {{ SITE.name }}</h1>
    {% include 'championship/components/season_dropdown.html' %}
    <br>
    <div class="alert alert-success" role="alert">
        Ready to create an account? <a href="{% url 'register' %}">Register here</a>
    </div>
    <h2>Abstract</h2>
    {% include 'info/abstract.html' %}
    {% block info %}
    {% endblock %}
{% endblock %}
