{% extends "championship/ranking/base_ranking.html" %}

{% block info_text %}
    <p>
        Every year, Magic: The Gathering tournaments in Switzerland award SUL Points to players. At the end of
        the season (31.10.2025), the top 36 players with the most SUL Points qualify for the two-day SUL
        Championship tournament. Additionally, top finishers in the most prestigious tournaments of the season
        will qualify directly for the SUL Championship. The best players will also receive a bye (a free win)
        for the SUL Invitational.
    </p>
    <p>
        Curious if you are also qualified for the SUL Invitational Spring 2025?
        <br><a class="btn btn-secondary-light mt-1" href="{% url 'ranking-by-season' slug='invitational-spring-2025' %}">SUL Invitational Spring</a>
    </p>
    <dl>
        <dt><i class="icon-star"></i></dt>
        <dd>Leaderboard qualification at the end of the season</dd>
        <dt><i class="icon-trophy"></i></dt>
        <dd>Direct qualification from top finish</dd>
        <dt><i class="icon-shield"></i></dt>
        <dd>Bye for the SUL Championship tournament</dd>
    </dl>
{% endblock %}
