{% extends "championship/base.html" %}

{% block title %}
    Guide for players
{% endblock %}

{% block content %}
    <h1>Player Guide: Swiss Unity League {{ current_season.name }}</h1>
    {% include 'championship/components/season_dropdown.html' %}
    <br>
    <p>The Swiss Unity League (SUL) is a collaborative league in 2023
        between various Magic tournament organizers in Switzerland with an end
        of year 2-day invitational tournament with 3.5k+ Prizes.</p>
    <p>Any organizer can register their tournament for the league to make it
        award Qualification Points (QPs). Players need to collect these QPs in
        order to qualify for the invitational tournament.</p>

    <h2>Video Tutorial</h2>
    <p>Don't like reading? Enjoy a quick tutorial that explains the main concepts of the league.</p>
    <div class="my-video-container bg-primary">
        <iframe src="https://www.youtube-nocookie.com/embed/AYykL9MuqeA" allowfullscreen></iframe>
    </div>
    <br>
    <h2>SUL Invitational 18-19.11.2023</h2>
    <h3>3.5k Prize Pool</h3>
    <ul>
        <li>1st: 1000 €*</li>
        <li>2nd: 500 €*</li>
        <li>3rd/4th: 350 €*</li>
        <li>5th-8th: 250 €*</li>
        <li>9th-12th 75 €*</li>
    </ul>
    <p>*The prizes will be awarded in the form of <a href="http://cardmarket.com">Cardmarket</a> coupons.</p>
    <p>In March 2023 Cardmarket announced the revocation of Cardmarket coupons. However we have a deal with Cardmarket, so that we can still hand out coupons as prizes.</P>
    <h3>How to Qualify</h3>
    <p>The season for the SUL will run from 1st of January 2023 to 31st of
        October 2023. During that time all tournaments participating at SUL
        will award Qualification Points (QPs). The <strong>top 40 players</strong>
        who earn the most QPs will qualify at the end of the season.</p>
    <p><i>Update on 07.10.2023: The number of players qualifying for the SUL Invitational has been increased to 40.
        <br>Reason: Due to increased attendance in recent months, and the last-minute addition of three
        SUL Premier events, we've concluded that a cap of 32 qualifying players is too small.</i>
    </p>
    <h4>End of League Scenario</h4>
    <ul>
        <li>Tournaments held after 31.10 will count toward the next SUL season in 2024.</li>
        <li>After 31.10, Tournament Organizers (TOs) will have one week to upload the remaining results. This means that on 8.11, we will have the final standings.</li>
        <li>If a player can't attend the Invitational, the invite will be passed on to the next player in the standings.</li>
        <li>The last few invites for the SUL Invitational will be determined on 8.11. So, if you're close to the top 40, you still have a chance to receive an invite.</li>
        <li>If two or more players are tied, the tiebreaker will be the amount of Qualification Points earned in SUL Premier events. If there is still a tie, points from SUL Regional events will be considered.</li>
        <li>It's the responsibility of the players to ensure their QPs are reported correctly. Please <a href="mailto:leoninleague@gmail.com"><u>contact us</u></a> for any discrepancies before 8.11.</li>
        <li>On 24.10, we will send communications via email to the top 48 players. Please check your email on this date and <a href="mailto:leoninleague@gmail.com"><u>contact us</u></a> if you didn't receive anything.</li>
    </ul>
    <h3>Tournament Structure</h3>
    <p>Location: Good Games, Parkterrasse 14, 3012 Bern, Switzerland</p>
    <p>Entry: Free, but only qualified players can participate.</p>
    <p>REL: Competitive</p>
    <p>Decklists: Open decklists for Modern, closed decklists for Draft</p>
    <p>Draft: Timed draft according to <a href="https://blogs.magicjudges.org/rules/mtr-appendix-b/">MTR</a>, with 25 minutes for deck registration and construction.</p>
    <p>Schedule</p>
    <ul>
        <li>Day 1, Sat 18.11:
            <ul>
                <li>Doors: 9:30</li>
                <li>Start: 10:00</li>
                <li>5 Rounds of Modern</li>
                <li>3 Rounds of Draft (Wilds of Eldraine)</li>
                <li>End: ~19:30</li>
            </ul>
        </li>
        <li>Day 2, Sun 19.11:
            <ul>
                <li>Doors: 9:30</li>
                <li>Start: 10:00</li>
                <li>3 Rounds of Draft (Wilds of Eldraine)</li>
                <li>3 Rounds of Modern</li>
                <li>End: ~17:30</li>
                <li>Top 8 Modern</li>
                <li>End of Top 8: ~21:00</li>
            </ul>
        </li>
    </ul>
    <p>There will be a 30-minute lunch break on both days. There is no cut to day 2.</p>

    <h2>How to participate</h2>
    <p>Tell your local tournament organizer (TO) about our league and show them the <a href="{% url 'info_organizer' %}">Guide for Organizers</a> page! Your TO will then register their local events for the league so you can start collecting Qualification Points at those events.</p>
    <h2>Qualification Points</h2>
    <p>Players can earn Qualification Points (QPs) at all tournaments
        participating in the league. QPs are awarded in the following three
        ways:</p>
    <ul>
        <li><strong>Match Points:</strong> A player receives QPs <strong>equal
            to the match points</strong> they earned during the swiss rounds of
            the tournament. (E.g. A record of 3-1-1 in swiss rounds awards 10
            QPs).</li>
        <li><strong>Participation:</strong> A player receives 3 QPs just for
            participating at the event.</li>
        <li><strong>Playoffs:</strong> The top 8/12/16 players receive extra QPs (explained later).</li>
    </ul>
    <h3>Tournament Types</h3>
    <p>There are 3 types of tournaments (SUL Regular, Regional, and Premier).
        Your local tournament organizer will assign one of these 3 types to each
        tournament they organize. Depending on the type of tournament, a different
        number of QPs will be awarded to the participants.</p>
    <h4>SUL Regular</h4>
    <p>All normal events (weekly, FNM, Prerelease) at your local store or
        association are SUL Regular events.</p>
    <h4>SUL Regional</h4>
    <p>SUL Regional events are medium-sized events for which people travel
        all around your canton to attend them. For each format your local
        tournament organizers can organize one of these events per month
        (1 Modern, 1 Limited, 1 Standard, etc. per month). SUL Regional events
        can be with or without a top 8.</p>
    <h4>SUL Premier</h4>
    <p>SUL Premier events are meant to be huge tournaments for which people
        travel all around Switzerland. To make those events feel special and
        exciting your local tournament organizer can only host up to 2 of these
        events per year.</p>
    <h3>SUL Multiplier</h3>
    <p>Each of the 3 tournament types has a different multiplier that
        increases the number of Qualification Points the players earn. SUL
        Regular events have a multiplier of 1x, SUL Regional 4x, and SUL Premier
        6x. The QPs earned for match points and participation (but not for
        playoffs) are multiplied with the given multiplier for the
        tournament.</p>

    <div class="row py-3">
        <div class="col-md-6 align-items-center mx-auto table-responsive">
            <table class="table table-striped border border-2">
                <thead>
                    <tr class="header">
                        <th >Tournament Type</th>
                        <th >Multiplier</th>
                        <th >Playoffs</th>
                        <th >Events per organizer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td >Regular</td>
                        <td >1x</td>
                        <td >No</td>
                        <td >unlimited</td>
                    </tr>
                    <tr>
                        <td >Regional</td>
                        <td >4x</td>
                        <td >Optional</td>
                        <td >for each format 1x per month</td>
                    </tr>
                    <tr>
                        <td >Premier</td>
                        <td >6x</td>
                        <td >Yes</td>
                        <td >2x per year</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p>Over the course of the season a player can earn a <strong>maximum of 500 QPs
        with all SUL Regular events</strong> combined, further points will be ignored.
        With SUL Regional and Premier events a player can earn an unlimited amount of points.
        <h3>Qualification Points with Playoffs</h3>
        <p>Events with playoffs award additional Qualification Points according to the schema below.
            For SUL Premier events running a top 8 is mandatory.
            For SUL Regional events the tournament organizer can decide if they wish to run their
            event with playoffs or not (top 4 or top 8 depends on the number of players).</p>
        <p>The QPs for 9th-12th and 13th-16th are only awarded if the tournament
            has more than 32 or 48 participants.</p>

        <div class="row py-3">
            <div class="col-md-6 align-items-center mx-auto table-responsive">
                <table class="table table-striped border border-2">
                    <thead>
                        <tr>
                            <th rowspan="2">Place</th>
                            <th colspan="2">Qualification Points</th>
                        </tr>
                        <tr>
                            <th>Regional</th>
                            <th>Premier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >1st</td>
                            <td >100</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td >2nd</td>
                            <td >60</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td >3rd/4th</td>
                            <td >40</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td >5th-8th</td>
                            <td >30</td>
                            <td>150</td>
                        </tr>
                        <tr>
                            <td >9th-12th (&gt;32
                                Participants)</td>
                            <td >15</td>
                            <td>75</td>
                        </tr>
                        <tr>
                            <td >13th-16th (&gt;48
                                Participants)</td>
                            <td >10</td>
                            <td>50</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h3>Example</h3>
        <p><em>Chandra plays a SUL Premier event (multiplier 6x) at her local gaming
            store with 41 participants. During the 5 Swiss rounds she
            manages to get 3 wins, 2 losses, and 1 draw (10 match points).
            She places 11th in the overall ranking. Therefore she receives 60 QPs
            (6x10) for the match points, 18 QPs (6x3) just for participating. Since the
            event has more than 32 players, she receives an additional 75 QPs for placing 11th.
            With this event she earns a grand total of 153 QPs.
        </em></p>

        <h2>Byes</h2>
        <p>The best performing players at the league are awarded byes (free wins
            in the first rounds) for the invitational tournament at the end of the
            year. A player can have at maximum 2 byes, further byes will be ignored.
            Players can earn byes in the following ways:</p>
        <ul>
            <li>The top 5 players (with the most QPs) will be awarded 1 bye.</li>
            <li>The player of the year (top 1 with the most QPs) will be awarded 2 byes.</li>
            <li>SUL Premier events with more than 128 participants award 2 byes to the winner of the tournament.</li>
        </ul>
        <h2>How do we finance this ?</h2>
        <p>In addition to sponsorships, tournament organizers will pay a small
            fee for each participant of the Regional and Premier events they
            organize. For detailed information, see <a href="{% url 'info_organizer' %}">
                Guide for Organizers</a>!</p>
        <h4>Changelog</h4>
        <ul>
            <li>11 April:
                <ul>
                    <li>End of season is reduced by 1 week.</li>
                    <li>Revocation Cardmarket coupons</li>
                    <li>Top 8/Playoffs clarification</li>
                </ul>
            </li>
            <li>3 September:
                <ul>
                    <li>Deal with cardmarket</li>
                    <li>End of the league scenario</li>
                    <li>Invitational
                        <ul>
                            <li>REL Competitive</li>
                            <li>Open decklist for modern, closed decklists for draft</li>
                            <li>Change order of formats day two (first draft then modern)</li>
                            <li>Limited format “Wilds of Eldraine”</li>
                            <li>Location Good Games Bern</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
{% endblock %}
