{% load static %}
<div class="modal fade" id="cardModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="card-title">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" alt="Card image" id="card-img" class="img-fluid"/>
            </div>
            <div class="modal-footer">
                <a href="https://google.com" type="button" class="btn btn-secondary" id="card-link">View on Scryfall</a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'decklists/card_modal.js' %}"></script>
