{% extends "championship/base.html" %}

{% block title %}
    {{ collection.name }} - {{ collection.get_format_display }}
{% endblock %}

{% block content %}
    <h1>{{ collection.name }}
        <small class="text-muted">by {{ collection.event.organizer.name }}</small>
        {% if user == collection.event.organizer.user %}
            <a href="{% url 'collection-update' collection.id %}" class="btn btn-secondary">Edit Deadline</a>
        {% endif %}
    </h1>
    <p class="h3">Format: {{ collection.get_format_display }}</p>
    <p>Submission deadline: {{ collection.submission_deadline }}</p>
    {% if staff_link %}
        <div class="form-group">
            <label for="judgeLink" class="font-weight-bold"><b>Staff Link</b> (share decklists with judges and other staff before they are public):</label>
            <div class="input-group my-3">
                <input type="text" id="judgeLink" class="form-control" value="{{ staff_link }}" readonly>
                <button class="btn btn-secondary" type="button" id="copyJudgeLinkButton">Copy to Clipboard</button>
            </div>
        </div>
    {% endif %}
    {% if not collection.is_past_deadline or collection.event.organizer.user == user %}
        <p><a href="{% url 'decklist-create' %}?collection={{ collection.id }}" class="btn btn-secondary-light">Submit decklist</a></p>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">{{ decklists|length }} Players</th>
                    <th scope="col">Last Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for decklist in decklists %}
                    <tr>
                        <td>
                            {% if show_decklist_links or decklist.id.hex in owned_decklists %}
                                {% if using_staff_link %}
                                    <a href="{{ decklist.get_absolute_url }}?sort=manavalue&staff_key={{ decklist.collection.staff_key }}">
                                {% else %}
                                    <a href="{{ decklist.get_absolute_url }}">
                                {% endif %}
                                {{ decklist.player.name }} ({{ decklist.archetype }})</a>
                            {% else %}
                                {{ decklist.player.name }}
                            {% endif %}
                        </td>
                        <td>
                            {{ decklist.last_modified }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var copyButton = document.getElementById('copyJudgeLinkButton');
            var judgeLinkField = document.getElementById('judgeLink');

            copyButton.addEventListener('click', function() {
                judgeLinkField.select();
                judgeLinkField.setSelectionRange(0, 99999);
                document.execCommand('copy');
                copyButton.innerText = 'Copied!';
                setTimeout(function() {
                    copyButton.innerText = 'Copy to Clipboard';
                }, 3000);
            });
        });
    </script>
{% endblock %}
