{% extends "championship/base.html" %}
{% load mana %}

{% block title %}
    {{ decklist.archetype|title }} by {{ decklist.player.name }}
{% endblock %}

{% block extrahead %}
    <link href="//cdn.jsdelivr.net/npm/mana-font@latest/css/mana.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <h1>{{ decklist.archetype|title }}
        <small class="text-muted">by {{decklist.player.name}}</small>
    </h1>
    <p>Last edited: {{ decklist.last_modified }}</p>

    {% if decklist.can_be_edited %}
        <p><a href="{% url 'decklist-update' decklist.id %}" class="btn btn-secondary">Edit decklist</a></p>
    {% endif %}
    {% if errors %}
        <br>
        {% for error in errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}


    <h3>Decklist</h3>
    {% include "decklists/decklist_table.html" with cards_by_section=cards_by_section %}
    {% include "decklists/card_modal.html" %}
{% endblock %}
