{% extends "info/playground-eu.unityleague.ch/base_info_organizer.html" %}
{% block info %}

    <h2 class="pt-4">Choose an event type</h2>
    <p>To each of your events, you will assign one event type. Each type has a multiplier and the higher the multiplier, the more points your players will receive.</p>
    <p>We recommend that you assign the following types to the given events:</p>
    <div class="row py-3">
        <div class="col-xl-8 col-lg-10 align-items-center table-responsive">
            <table class="table table-striped border border-2">
                <thead>
                    <tr class="header">
                        <th>Type</th>
                        <th>Multiplier</th>
                        <th>Recommended Events</th>
                        <th>EMC Invites</th>
                        <th>Organizer Fees</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Local</b></td>
                        <td>1x</td>
                        <td>Weeklies, FNMs, Prereleases, leagues</td>
                        <td></td>
                        <td>Free</td>
                    </tr>
                    <tr>
                        <td><b>Regional</b></td>
                        <td>3x</td>
                        <td>Competitive 1k, RCQs, Store Champs</td>
                        <td></td>
                        <td>€1 per player*</td>
                    </tr>
                    <tr>
                        <td><b>National</b></td>
                        <td>4x</td>
                        <td>National Championships can be hosted from Oct-Dec 2025. They represent the finals of the national competition.</td>
                        <td>4 slots</td>
                        <td>Free + you receive goodies</td>
                    </tr>
                    <tr>
                        <td><b>Qualifier</b></td>
                        <td>5x</td>
                        <td>Special events in your region: Coupe de France, Nordic Masters, MOLE, etc.</td>
                        <td>1 slot</td>
                        <td>Custom</td>
                    </tr>
                    <tr>
                        <td><b>Grand&nbsp;Prix</b></td>
                        <td>6x</td>
                        <td>Large Conventions: RC, Spotlight, Relic Fest, 4Seasons, etc.</td>
                        <td>1-8 slot**</td>
                        <td>Free**</td>
                    </tr>
                </tbody>
            </table>
            <small>*For Regionals with top cut the minimum fee is €25</small>
            <br><small>**Only main events of European conventions with an expected attendance of 300+ players are eligible. 1 EMC slot included, additional slots can be purchased.</small>
        </div>
    </div>
    <p>Organizers pay fees for some of the events they host. These fees are used to finance the goodies of the National Championships and the European Magic Cup.
        <br>You can also <b>participate for free</b> by running <b>all</b> of your events as <b>Regular</b>.</p>

    <h2 class="pt-4">How to register events for the league</h2>
    <p>In the following we explain all the necessary steps to make your events award points.</p>
    <p>First make sure to <a href="{% url 'register' %}">create an account</a>, confirm your email and login.</p>
    <div class="row">
        <div class="col-md-6">
            <h3>Create an event</h3>
            <ol>
                <li>In the <b>Welcome</b> menu in the top right, you click <b><a href="{% url 'events_create' %}">Create new event</a></b>.</li>
                <li>Enter at least the <b>Name</b>, <b>Date</b>, <b>Format</b>, and <b>Type</b> of the event.</li>
                <li>On the bottom, click <b>Create event</b> or <b>Schedule event as series</b> if the event takes place regularly.</li>
                <li>To host Qualifier, National and Grand Prix events, please <a href="mailto:{{ SITE.email }}">contact us</a>.</li>
            </ol>
            <p>Now your events will be listed in our <a href="{% url 'events' %}">Event calendar</a>. To see all of your events, go to <b>My events</b> in the <b>Welcome</b> menu.</p>
        </div>
        <div class="col-md-6">
            <h3>Upload results</h3>
            <p>After your event has finished, you have 30 days to upload the results.</p>
            <ol>
                <li>In the <b>Welcome</b> menu, go to <b><a href="{% url 'results_create' %}">Upload results</a></b>.</li>
                <li>Select the tournament app* you used for the event.</li>
                <li>Select the event you want to upload results for.</li>
                <li>Login to your tournament app and download the standings from the last round of the event.</li>
                <li>Go to our import form and <b>Submit</b>. (for some apps you can also share a link to the standings)</li>
                <li>For most apps the top cut/playoffs is reported automatically. To do it manually click <b>Edit playoff results</b>.</li>
                <li>After importing the results, you can scroll down to verify that all results are imported correctly.</li>
                <small>*Alternatively you can upload the results as an <b>Excel/CSV</b> file or select <b>Manual</b> to enter them by hand.</small>
            </ol>
            <p>If you have any issues, please <a href="mailto:{{ SITE_SETTINGS.contact_email}}">contact us</a>.</p>
        </div>
    </div>

    <h2 class="pt-4">Frequently asked questions</h2>
    <div class="accordion" id="organizerFAQ">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingWPN">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWPN" aria-expanded="false" aria-controls="collapseWPN">
                    I'm not a WPN store, can I still organize an event?
                </button>
            </h2>
            <div id="collapseWPN" class="accordion-collapse collapse" aria-labelledby="headingWPN" data-bs-parent="#organizerFAQ">
                <div class="accordion-body">
                    <p>Yes, all events can participate, provided that they are open to the public. From the smallest 6-player draft at a local restaurant to the largest main event at a convention, everything is allowed.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFees">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFees" aria-expanded="false" aria-controls="collapseFees">
                    How do I pay the fees?
                </button>
            </h2>
            <div id="collapseFees" class="accordion-collapse collapse" aria-labelledby="headingFees" data-bs-parent="#organizerFAQ">
                <div class="accordion-body">
                    <p>We will send an invoice via email every few months. There will also be a message shown when you login to the website.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingHostCountries">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHostCountries" aria-expanded="false" aria-controls="collapseHostCountries">
                    Which countries can host a National Championship and award invites to the EMC?
                </button>
            </h2>
            <div id="collapseHostCountries" class="accordion-collapse collapse" aria-labelledby="headingHostCountries" data-bs-parent="#organizerFAQ">
                <div class="accordion-body">
                    <p>Generally all countries (not only EU Member States) are eligible to host a National Championship and award invites to the European Magic Cup. However there must be a significant number of participating events in the country.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
