{% extends 'championship/base.html' %}

{% block title %}SUL Articles{% endblock %}

{% block content %}
    <h1>SUL Articles</h1>

    <ul>
        {% for article in articles %}
            <li>{{ article.publication_time }} - {{ article.author }}:
                <a href="{% url 'article-details' article.publication_time.year article.publication_time.month article.publication_time.day article.slug  %}">
                    {{article.title}}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
