{% extends "championship/base.html" %}
{% load article %}
{% load cache %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block meta_description %}{% if article.description|striptags %}{{ article.description }}{% else %}{{ article.content|striptags|truncatewords:40 }}{% endif %}{% endblock %}

{% block extrahead %}
    <link href="//cdn.jsdelivr.net/npm/mana-font@latest/css/mana.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <h1>{{ article.title }}
        <small class="text-muted">by {{ article.author.first_name }} {{ article.author.last_name }}</small>

        {% if perms.articles.change_article %}
            <a href="{% url 'article-update' article.id article.slug %}" class="btn btn-secondary">Edit</a>
        {% endif %}
    </h1>
    {% if article.publication_time %}
        <p>Published on {{ article.publication_time }}</p>
    {% endif %}


    {% cache 604800 article_content article.id %}
        {{ article.content|article_tags }}
    {% endcache %}

    {% include "decklists/card_modal.html" %}
{% endblock %}
