<div class="border rounded">
        {% if errors %}
                <ul>{% for error in errors %}
                        <li>{{ error }}</li>
                {% endfor %}</ul>

        {% endif %}
        {% if archetype %}
                <h3>{{ archetype }}
                        {% if player %}
                                <small class="text-muted">by {{ player }}</small>
                        {% endif %}
                </h3>
        {% endif %}
        <h4>Mainboard</h4>
        {% include "decklists/deck_section.html" with content=mainboard %}
        <h4>Sideboard</h4>

        {% include "decklists/deck_section.html" with content=sideboard %}
</div>
