html {
    position: relative;
    min-height: 100%;
}

.event_description {
    background: #f7f7f9;
    padding: 10px;
}

.auto-width {
    width: auto !important;
}

$theme-colors: (
    'primary': #c6b098,
    'primary-light': #ffefde,
    'primary-dark': #7a6752,
    'secondary': #466c7a,
    'secondary-light': #99bbc7,
    'success': #198754,
    'danger': #dc3545,
    'warning': #ffc008,
);

.my-video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.my-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

$link-hover-decoration: underline;

@import 'bootstrap/scss/bootstrap'; /*Needs to be last otherwise it doesn't override the variables*/

a {
    text-decoration: none;

    &:hover {
        text-decoration: $link-hover-decoration;
    }
}
