html {
    position: relative;
    min-height: 100%;
}

.event_description {
    background: #f7f7f9;
    padding: 10px;
}

.auto-width {
    width: auto !important;   
}

$theme-colors: (
    'primary': #c6b098,
    'primary-light': #ffefde,
    'primary-dark': #7a6752,
    'secondary': #466c7a,
    'secondary-light': #99bbc7,
    'success': #198754,
    'danger': #dc3545,
    'warning': #ffc008,
);

@import 'bootstrap/scss/bootstrap'; /*Needs to be last otherwise it doesn't override the variables*/
