{% extends "championship/base.html" %}

{% block title %}
    How to Compete in the SUL | Player Guide
{% endblock %}

{% block meta_description %}
    Everything you need to know to participate in Switzerland's premier Magic: the Gathering tournament series, Swiss Unity League.
{% endblock %}

{% block content %}
    <h1>Player Guide - Swiss Unity League {{ current_season.name }}</h1>
    {% include 'championship/components/season_dropdown.html' %}
    <br>
    <p>In the following we explain everything you need to know as a player to
        participate in Switzerland's premier Magic: the Gathering tournament series, Swiss Unity League.</p>
    <h2>Abstract</h2>
    {% include 'championship/components/abstract.html' %}
    {% block info %}
    {% endblock %}
{% endblock %}