{% extends "championship/base.html" %}

{% block content %}
    <h1>Application Submitted</h1>
    <div class="alert alert-success" role="alert">
        Your application was succesfully submitted!
    </div>
    <p>Thank you for your application as an organizer for the Swiss Unity League. We will review your application and get back to you soon.</p>
    <p>In the meantime you can join our <a href="https://chat.whatsapp.com/JCzVgGOAV8Y4cQT6SEdvC0" >WhatsApp chat</a> all SUL organizers where you can ask questions and receive the latest news.</p>
    <a href="https://chat.whatsapp.com/JCzVgGOAV8Y4cQT6SEdvC0" class="btn btn-secondary">Join Our Organizer WhatsApp Chat</a>
{% endblock %}
