{% extends "championship/base.html" %}

{% block title %}
    My invoices
{% endblock %}

{% block content %}
    <h1>My invoices</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Reference</th>
                <th scope="col">Amount</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Invoice</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in object_list %}
                <tr>
                    <td>{{ invoice.reference }}</td>
                    <td>{{ invoice.total_amount }} CHF</td>
                    <td>{{ invoice.start_date|date:"d.n.Y" }}</td>
                    <td>{{ invoice.end_date|date:"d.n.Y" }}</td>
                    <td><a href="{{ invoice.get_absolute_url }}">Download</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
